@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&family=Roboto:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
}

.newProject {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 90vh;
  /* background-color: black; */
}

.newProject-container {
  display: flex;
  flex-direction: row;
  width: 60vw;
  min-width: 350px;
  height: 500px;
  color: white;
  box-shadow: 0 0 10px gray;
}

.newProject-image {
  width: 50%;
}
.newProject-image img {
  width: 100%;
  height: 100%;
}

.newProject-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:ghostwhite;
  text-align: center;
  width: 50%;  
}
.formContain{
    width: 100%;
}



.newProject-heading {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  font-size: 24px;
  margin:30px 0px;
}

.form-group {
  margin-bottom: 20px;
}
.form-group input {
  margin: 8px 0px;
  width: 80%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background-color: #17628b;
  color: white;
  margin: 20px 0px;
  padding: 10px 20px;
  border: 1px solid #17628b;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover{
    background-color: rgb(51, 141, 141);
}

@media (max-width: 700px) {
  .newProject-image {
    display: none; 
  }
  .newProject-form{
    width: 100%;
  }
}
