<div class="title"><h1>Task Board</h1></div>

<div class="task-board">
  <div class="column todo">
    <h2>To Do</h2>
    <div class="task-container">
      <div class="task" *ngFor="let task of todoTasks">
        <h3><span>Title: </span>{{ task.name }}</h3>
        <p><span>Details: </span>{{ task.details }}</p>
        <button class="do-now-btn"  (click)="moveTask(task)">Do It Now</button>
        <button class="delete-btn" (click)="deleteTask(task , 'todo')">Delete</button>
      </div>
    </div>
    <button class="add-task-btn" (click)="showTaskForm = true">Add New Task</button>
    <div class="task-form-overlay" *ngIf="showTaskForm">
      <div class="task-form">
        <h2>Add New Task</h2>
        <form (submit)="addTask()">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" [(ngModel)]="taskTitle" required>
          </div>
          <div class="form-group">
            <label for="details">Details:</label>
            <textarea id="details" name="details" [(ngModel)]="taskDetails"></textarea>
          </div>
          <button type="submit">Add Task</button>
          <button type="button" (click)="cancelTask()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  <div class="column in-progress">
    <h2>In Progress</h2>
    <div class="task-container">
      <div class="task" *ngFor="let task of inProgressTasks">
        <h3><span>Title: </span>{{ task.name }}</h3>
        <p><span>Details: </span>{{ task.details }}</p>
        <button class="complete-btn" (click)="completeTask(task)">Complete</button> 
      </div>
    </div>
  </div>
</div>
