<div class="container">
  <h1>WEEKLY TASK LIST</h1>
  <div class="dates">
    <h4>START DATE</h4>
    <h4>END DATE</h4>
  </div>
  <table class="task-table">
    <thead>
      <tr>
        <th>Day</th>
        <th>Task</th>
        <th>Priority</th>
        <th>Due Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Wenesday</td>
        <td>Task 4</td>
        <td>Medium</td>
        <td>2024-04-08</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>Task 3</td>
        <td>High</td>
        <td>2024-04-06</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Wenesday</td>
        <td>Task 4</td>
        <td>Medium</td>
        <td>2024-04-08</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>

      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>Task 3</td>
        <td>High</td>
        <td>2024-04-06</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Wenesday</td>
        <td>Task 4</td>
        <td>Medium</td>
        <td>2024-04-08</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>Task 3</td>
        <td>High</td>
        <td>2024-04-06</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>Task 3</td>
        <td>High</td>
        <td>2024-04-06</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Wenesday</td>
        <td>Task 4</td>
        <td>Medium</td>
        <td>2024-04-08</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>Task 2</td>
        <td>Low</td>
        <td>2024-04-12</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>Task 1</td>
        <td>High</td>
        <td>2024-04-05</td>
        <td>In Progress</td>
      </tr>
    </tbody>
  </table>
</div>
