<div class="comp-logo" style="margin: 10px">
  <img src="../../../assets/dashlogo.png" alt="" height="35px" width="60px">
</div>
<div class="register">
  <div class="register-container">
    <div class="register-image">
      <img src="../../../assets/RegisterImage.png" alt="" />
    </div>
    
    <div class="register-form">
      <form action="" [formGroup]="validateForm">
      <div class="registration-heading">Registration</div>

      <div class="form-group">
        <input
          type="text"
          id="firstName"
          name="firstName"
          formControlName="firstName"
          placeholder="Enter your first name"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          id="lastName"
          name="lastName"
          formControlName="lastName"
          placeholder="Enter your last name"
        />
      </div>

      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          placeholder="Enter your email"
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="Enter your password"
        />
      </div>

      <div class="form-group">
        <input
          type="tel"
          id="contactNumber"
          name="contactNumber"
          formControlName="contactNumber"
          placeholder="Enter your contact number"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          id="companyName"
          name="companyName"
          formControlName="companyName"
          placeholder="Enter your company name"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          id="countryCode"
          name="countryCode"
          formControlName="countryCode"
          placeholder="Enter your country code"
        />
      </div>
      <button type="submit" class="submit-button" (click)="register()">Register</button>
    </form>
    </div>
  
  </div>
</div>
